.container {
    width: 100%;
    text-align: center;
}

.btn-size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn-sizer:focus {
    transform: scale(0.98);
}

.change-weather {
    display: flex;
}

input,
button {
    width: 100%;
    flex: 1;
}


@media(max-width:800px) {
    .btn-sizer {
        font-size: 9px !important;
    }
}


