<section class="fluid-container">
  <div class="container">
    <form class="example-form" [formGroup]="registerForm">
      <mat-form-field class="example-full-width input-login" appearance="fill">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" type="email" matInput formControlName="email">
          <mat-hint>Please Fill All Required Fields</mat-hint>
          <mat-error *ngIf="registerForm.get('email')?.dirty">
              Email<strong> required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width input-login" appearance="fill">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="password" type="password" matInput formControlName="password">
          <mat-hint>Please Fill All Required Fields</mat-hint>
          <mat-error *ngIf="registerForm.get('password')?.dirty">
              Password <strong> required</strong>
          </mat-error>
      </mat-form-field>
      <button class="btn-login" [disabled]="!registerForm.valid" (click)="register()">Sign Up</button>
    </form>
  </div>
</section>