.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.navBlack {
    background-color: black !important;
}

.delete {
    color: #ef5350;
}


.add {
    color: green;
}

.form-addCustomer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    margin-bottom: 5px;
}

input {
    font-size: 14px;
    font-weight: 500;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;     */
    padding: 2px 5px;
}

label {
    font-size: 14px;
    font-weight: 400;
    margin: 0 5px;
}

.none {
    display: none !important;
}


/*Media quaries*/
@media(max-width:900px) {
    h1 {
        font-size: 1.2rem !important;
    }

    h2 {
        font-size: 1rem;
    }

    .form-addCustomer {
        flex-direction: column;
    }

    .form-floating {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    .table {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    td {
        font-size: 10px;
        padding: 0 5px;
        width: 100vw;
    }

}