<app-navbar></app-navbar>
<section class="container">
    <p class="data-message">{{hiMessage}} {{welcomeMessage|date:'mediumDate'}}</p>
    <div class="form-addCustomer">
        <div class="form-floating ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Firstname</mat-label>
                <input matInput class="input" [(ngModel)]="first_name">
            </mat-form-field>
        </div>
        <div class="form-floating ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Lastname</mat-label>
                <input class="input" matInput [(ngModel)]="last_name">
            </mat-form-field>
        </div>
        <div class="form-floating ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input class="input" matInput placeholder="example@example.com" [(ngModel)]="email">
            </mat-form-field>
        </div>
        <div class="form-floating ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mobile</mat-label>
                <input class="input" matInput id="mobile" mask="(000) 000-0000" placeholder="(123) 456-7891" [(ngModel)]="mobile">
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary" class="add-margin" (click)="addCustomer()">Add Customer</button>
        <ng-container *ngIf="!visibility">
            <button (click)="hideTable()" mat-icon-button class="icon eye"
                aria-label="Example icon-button with share icon">
                <mat-icon>visibility</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="visibility">
            <button (click)="hideTable()" mat-icon-button class="icon eye"
                aria-label="Example icon-button with share icon">
                <mat-icon>visibility_off</mat-icon>
            </button>
        </ng-container>
    </div>
    <div [class]="errorMessage">
        Please Fill All The Areas
    </div>
    <!---Spinner-->
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <table *ngIf="!showSpinner" [class]="hide" class="table" mat-table [dataSource]="customersList"
        lass="mat-elevation-z8">
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Customer Name</th>
            <td mat-cell *matCellDef="let customer"> {{customer.first_name|titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Customer Last Name</th>
            <td mat-cell *matCellDef="let customer"> {{customer.last_name|titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Customer`s Email </th>
            <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Customer`s Phone Number </th>
            <td mat-cell *matCellDef="let customer"> {{customer.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let customer">
                <button (click)="deleteCustomer(customer)" mat-stroked-button color="warn">Delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>