.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.navBlack {
    background-color: black !important;
    border-bottom: 2px solid white;
}

.home {
    cursor: pointer;
}
.material-icons{
    font-size: 24px !important;
}

/*Media quaries*/
@media(max-width:900px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 0.8rem;
    }
    .example-icon{
        margin: 0;
    }
}