<section class="container">
  <div class="dashboard-hero">
    <header class="dashboard-header">
      <mat-toolbar [class]="color" [color]="color" [class]="navDark">
        <h2 routerLink="/dashboard" class="home">Customer Management</h2>
        <span class="example-spacer"></span>
        <button routerLink="/dashboard" mat-icon-button class="example-icon"
          aria-label="Example icon-button with heart icon">
          <mat-icon>home</mat-icon>
        </button>
        <ng-container *ngIf="!darkMode">
          <button (click)="enableDarkMode()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
            <mat-icon>mode_night</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="darkMode">
          <button (click)=" disableDarkMode()" mat-icon-button class="example-icon "
            aria-label="Example icon-button with share icon">
            <mat-icon>sunny</mat-icon>
          </button>
        </ng-container>
        <button routerLink="/settings" mat-icon-button class="example-icon tooltip"
          aria-label="Example icon-button with share icon">
          <span [class]="toolShow">Settings</span>
          <mat-icon>settings</mat-icon>
        </button>
        <button routerLink="/calendar" mat-icon-button class="example-icon tooltip"
          aria-label="Example icon-button with share icon">
          <span class="tooltiptext">Calendar</span>
          <mat-icon>calendar_month</mat-icon>
        </button>
        <button routerLink="/users" mat-icon-button class="example-icon tooltip"
          aria-label="Example icon-button with share icon">
          <span [class]="toolShow">Users</span>
          <mat-icon> manage_accounts</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon (click)="register()"> logout</mat-icon>
        </button>
      </mat-toolbar>
    </header>
  </div>


</section>