.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.navBlack {
    background-color: black !important;
    border-bottom: 2px solid white;
}

.home {
    cursor: pointer;
}
.material-icons{
    font-size: 24px !important;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: -4px;
    top: 30px;
    background-color: #2078E8;
    position: absolute;
    z-index: 1;
    font-size: 12px;
  }
   .visibleTool{
    visibility: visible;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: -4px;
    top: 30px;
    background-color: #2078E8;
    position: absolute;
    z-index: 1;
  } 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/*Media quaries*/
@media(max-width:900px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 0.8rem;
    }
    .example-icon{
        margin: 0;
    }
}