<section class="fluid-container">
    <div class="form-area">
        <form class="example-form" [formGroup]="loginForm">
            <mat-form-field class="example-full-width input-login" appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="email" type="email" matInput formControlName="email">
                <mat-hint>Please Fill All Required Fields</mat-hint>
                <mat-error *ngIf="loginForm.get('email')?.dirty">
                    Password <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width input-login" appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="password" type="password" matInput formControlName="password">
                <mat-hint>Please Fill All Required Fields</mat-hint>
                <mat-error *ngIf="loginForm.get('password')?.dirty">
                    Password <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button class="btn-login" (click)="login()">Login</button>
            <button type="button" class="login-with-google-btn" (click)="signInWithGoogle()">
                Sign in with Google
            </button>
            <div class="register-btn">
                <button class="register" routerLink="/register">Register An Account</button>
            </div>
        </form>
    </div>

</section>