.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

table {
    width: 100%;
}


th {
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}
.upload-btn{
    width: 200px;
    border: none;
    height: 30px;
    width: 200px;

}

