<app-navbar></app-navbar>
<div class="container">
    <div>
        <input type="file"  (change)="selectFile($event)">
        <button type="button" class="upload-btn" [disabled]="!selectedFiles"
            (click)="uploadFile()">Upload</button>
    </div>
    <div class="progress mt-2">
        <div  role="progressbar" attr.aria-valuenow="{{percentage}}"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
            {{percentage}}%
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>File name</td>
                <td>File size</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="showSpinner">
                <app-spinner></app-spinner>
            </ng-container>
            <tr *ngFor="let file of listOfFiles">
                <th>{{file.name}}</th>
                <td>{{file.size}}</td>
                <td>
                    <a href="{{file.url}}"  type="button" mat-stroked-button
                        color="primary">Download</a>
                    <button mat-stroked-button color="warn" (click)="deleteFile(file)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>