/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/*Calendar CSS Import */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: 14px;
}

a,
input,
button:hover {
  cursor: pointer;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}

body {
  --text-color: #222;
  --btn-bg: mistyrose;
  --bkg-color: #fff;
  --input-color: black;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --border-table: rgba(0, 0, 0, 0.12);
  width: 100%;
  --icon-bg: black;
}


.dark-theme {
  --text-color: #eee;
  /*
    --bkg-color: #252222; */
  --bkg-color: black;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --border-table: white;
  --icon-bg: white;
  --btn-bg: white;
  --input-color: black;

}

.text {
  color: var(--text-color);
}

.smallSize {
  font-size: 13px !important;
}

.biggerSize {
  font-size: 24px !important;
  line-height: 1.2;
}

body {
  background: var(--bkg-color);
}

h1,
p,
label {
  color: var(--text-color) !important;
}

input {
  color: var(--input-color);
}

input:focus {
  border: none;
  border-color: none;
}

/*Dashboard*/
.data-message {
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}

.form-messages {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 15px;
}

table {
  background-color: var(--bkg-color) !important;
}

td,
th {
  color: var(--text-color) !important;
  border-color: var(--border-table) !important;
}


/*Settings */
.mat-expansion {
  background-color: var(--bkg-color) !important;
}

.btn-sizer {
  flex: 1;
  border: none;
  height: 30px;
  margin: 0 5px;
  background-color: var(--btn-bg);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}


/*Navbar icons*/
.icon {
  color: var(--icon-bg);
  background-color: transparent;
  border: none;
}

.add {
  color: #00A877;
}

.eye {
  opacity: 0.7;
}

/*Error messages CSS */
.info,
.success,
.warning,
.error,
.validation {
  border: none;
  margin: 10px auto;
  text-align: center;
  padding: 15px 10px 15px 50px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  opacity: 0.8;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

/*Fonts */
.poppins {
  font-family: 'Poppins', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}


.example-icon {
  background-color: transparent;
  color: white;
  border: none;
  margin: 0 5px;
}

.material-icons {
  font-family: 'Material Icons' !important;
}