/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p{
    font-size: 16px;
}

a,input,button:hover{
    cursor: pointer;
}
label,h1,h2,h3,h4,h5,h6,p{
    user-select: none;
}
.example-icon{
    background-color: transparent;
    color: white;
    border: none;
    margin: 0 5px;
}
body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
    --border-table:rgba(0, 0, 0, 0.12);
    width: 100% ;
  }
  .dark-theme {
    --text-color: #eee;
    /*
    --bkg-color: #252222; */
    --bkg-color: black;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 211, 195);
    --border-table:white;

  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p,label,input {
    color: var(--text-color);
  }
  .form-messages {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}
table {
  background-color: var(--bkg-color) !important;
}
td,th{
  color: var(--text-color) !important; 
  border-color: var(--border-table) !important;
}
